{% extends "base.html.twig" %}

{% block title %}
	Demande de réservation
{% endblock %}

{% block body %}
	<div class="custom-top">
		<div class="container mt-6 my-5">
			<h1 class="text-center mb-4">Confirmer et Payer</h1>
			<div class="row">
				<div class="col-md-6">
					<h4 class="mb-3">Votre Voyage</h4>
					<div class="d-flex flex-column pb-3 border rounded p-3 bg-light">
						<h5 class="fs-5 fw-bold">Dates</h5>
						<p>Du
							{{ booking.startDateAt|format_datetime('long', 'none', locale='fr') }}
							au
							{{ booking.endDateAt|format_datetime('long', 'none', locale='fr') }}
						</p>
					</div>
					<hr>
					<div class="pt-3 pb-3">
						<h5 class="fs-5 fw-bold pb-3">Payer Avec</h5>
						<form id="payment-form" class="border rounded p-3 bg-light">
							<div id="payment-element"><!--Stripe.js injects the Payment Element--></div>
							<button id="submit" class="btn btn-primary w-100">
								<div class="spinner hidden" id="spinner"></div>
								<span id="button-text">Payer avec Stripe</span>
							</button>
							<div id="payment-message" class="hidden mt-2"></div>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					{% include "_partials/_card_booking_payment.html.twig" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		const clientSecret = '{{ clientSecret }}';
const stripePublicKey = '{{ stripePublicKey }}';
const redirectAfterSuccessUrl = '{{ url('booking_payment_success', {'id': booking.id}) }}';
	</script>
	<script src="{{ asset('assets/js/payment.js') }}" defer></script>
{% endblock %}
