{% extends "base.html.twig" %}

{% block title %}
	Page de :
	{{ ad.name }}
{% endblock %}

{% block body %}
	<div class="container my-4">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('homepage') }}">Accueil</a>
			</li>
			<li class="breadcrumb-item active">{{ ad.name }}</li>
		</ol>

		<h1 class="my-4">{{ ad.name }}</h1>
		<div class="row">
			{% include "_partials/_portofolio.html.twig" %}
		</div>

		<div class="row d-flex justify-content-between my-4">
			<div class="col-md-7">
				<h4>Logement entier : hébergement -
					{{ ad.city }},
					{{ ad.country|country_name('fr') }}</h4>
				<div class="mt-2">
					<ol class="m-0 p-0 separated-list d-flex">
						<li class="d-flex align-items-center">{{ ad.capacity }}
							voyageurs</li>
						<li class="d-flex align-items-center">{{ ad.rooms }}
							chambres</li>
						<li class="d-flex align-items-center">{{ ad.beds }}
							lits</li>
					</ol>
				</div>
				<p class="add-content">{{ ad.content | raw }}</p>
				<div class="equipment-container">
					<hr class="equipment-hr-content">
					<div class="equipment-wrapper">
						<section>
							<div class="title-equipment-wrapper">
								<div class="title-equipment-content">Ce que propose ce logement</div>
							</div>
							{% include "_partials/_list_equipment_container.html.twig" %}
							{% if ad.equipment | length > 8 %}
								<div class="display-all-equipments">
									<button type="button" class="btn-show-list" data-bs-toggle="modal" data-bs-target="#equipmentsModal">
										Afficher les
										{{ ad.equipment | length }}
										équipements
									</button>
								</div>
							{% endif %}
						</section>
					</div>
				</div>
				<!-- Modal -->
				{% include "_partials/_modal_equipments.html.twig" %}
			</div>
			<div class="col-md-4 position-relative">
				<div class="card border-dark mb-3 pos-sticky" style="padding: 0;">
					<div class="card-header text-center" id="priceValue">
						<strong>{{ ad.price | amount }}</strong>
						par nuit
					</div>
					<div class="card-body">
						<h4 class="card-title"></h4>
						<p class="card-text">
							{{ form_start(form, {'action': path('booking_confirm', {'slug': ad.slug})}) }}
							{{ form_row(form.startDateAt) }}
							{{ form_row(form.endDateAt) }}
							<input type="hidden" name="ad_slug" value="{{ ad.slug }}">
							<div class="text-center">Aucun montant ne vous sera débité pour le moment</div>
						</p>
						<button type="submit" id="submit-btn" class="btn btn-secondary w-100">Je réserve !</button>
						{{ form_end(form) }}
						<div class="row mt-3">
							<div class="d-flex justify-content-between">
								<div class="text-decoration-underline">{{ ad.price | amount }}
									x
									<span id="days">0</span>
									nuits</div>
								<div>
									<span id="amount">...</span>
									&euro;</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal pour le portfolio -->
		<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						{% include "_partials/_modal.html.twig" %}
					</div>
				</div>
			</div>
		</div>

		<section class="my-4">
			<div class="title-equipment-wrapper">
				<div class="title-equipment-content">Où se situe le logement</div>
				<div>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.463248357757!2d0.5842170768094005!3d44.66931697107203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aae145148e5047%3A0x1f69e49e3cbc07e0!2sLes%20maisons%20de%20Marie!5e0!3m2!1sfr!2sfr!4v1716988782465!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/flatpickr.min.js') }}"></script>
	<script>
		// Transférer les dates non disponibles à JavaScript
var notAvailableDays = [];{% if notAvailableDays is defined %}notAvailableDays = [{% for day in notAvailableDays %}"{{ day|date('d.m.Y') }}"{% if not loop.last %},{% endif %}{% endfor %}];{% endif %}
	</script>
	<script src="{{ asset('assets/js/main.js') }}" defer></script>
{% endblock %}
